@use './mixins' as *;

/* HOVER IMMAGINE PRODOTTO */

main .products .col-card.flex {

    img.first:hover {
        opacity: 0;
        transition: 0.8s;
    }

    img.first:not(:hover) {
        opacity: 1;
        transition: 0.5s;
    }
}

/* STYLE BUTTONS */

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
}

button:active {
    transform: scale(2);
}

button.heart {
    background-color: white;
    position: absolute;
    top: 5px;
    right: 5px;

    &.like {
        color: red;
    }
}

.heart {
    padding: 15px 15px;
    color: black;

    .fav {
        color: red;
    }
}

/* STYLE LABELS */

ul.labels {
    position: absolute;
    bottom: 8%;
}

li.label {
    @include labelOnProduct;

    &.tag {
        background-color: green;
    }

    &.discount {
        background-color: red;
    }
}