@use './variables' as *;

/* STYLE HEADER */

header {
    background-color: $color-theme;

    section {
        height: fit-content;
        padding-top: 3vh;
        padding-bottom: 3vh;
        color: $color-header;
    }
}

header .container .row {
    justify-content: space-between;
    align-items: center;
}

.col-logo {
    height: 30px;

    img {
        height: 100%;
        display: block;
        margin: 0 auto;
    }
}

.col-categories,
.col-nav {
    align-items: center;
    width: 30%;

    * {
        padding: 5px;
    }
}

.col-categories {
    justify-content: left;
}

.col-nav {
    justify-content: end;
}

/* STYLE MAIN */

main .products.container {
    height: fit-content;

}

main .products.container>.row {
    flex-wrap: wrap;
}

main .products .col-card {
    width: $size-cards;
    flex-direction: column;
    padding: 5px;
    position: relative;

    .img {
        position: relative;

        img {
            width: 100%;
            display: block;
            margin: auto;
        }
    }
}

main .products img.first {
    position: absolute;
}

main .products .price {
    font-weight: bold;

    .discountPrice {
        color: $color-discountPrice;
    }

    .oldPrice {
        color: $color-oldPrice;
        font-weight: normal;
        text-decoration: line-through;
    }
}

/* STYLE FOOTER */

footer {
    background-color: $bgcolor-footer;

    section {
        height: fit-content;
        padding-top: 3vh;
        padding-bottom: 3vh;
        color: $color-footer;

        .row {
            justify-content: space-between;

        }
    }
}

.col-info {
    text-align: start;
    width: 50%;
    line-height: 25px;

    span:not(:last-child) {
        padding-right: 3px;
        font-size: 15px;
        margin-right: 5px;
    }
}

.col-social {
    text-align: end;
    width: 15%;

    a:not(:last-child) {
        margin-right: 5px;
    }
}